# WhiteTiger Battleground V2
# Do not start ESX, QBCore, or Qbox with this stack.
# Do not commit sv_licenseKey or steam_webApiKey. txAdmin injects the license.

sv_hostname "WhiteTiger Battleground V2"
sets sv_projectName "WhiteTiger Battleground V2"
sets sv_projectDesc "Standalone battleground / last-team-standing"
sets tags "battleground, pvp, squad"
sets locale "en-US"

sv_enforceGameBuild 3751
sv_maxclients 48
set onesync on
sv_scriptHookAllowed 0
set resources_useSystemChat true
set steam_webApiKey ""

endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

add_ace group.admin command allow
add_ace group.admin command.quit deny
add_ace group.admin wtbg.dev allow
add_principal identifier.steam:11000011a1c0771 group.admin
add_principal identifier.steam:1100001150f4a67 group.admin
add_principal identifier.steam:1100001322d9a97 group.admin
add_principal identifier.steam:1100001092889b1 group.admin

exec resources.cfg
